*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.heading{
    color:whitesmoke;
    text-align: center;    
}
.calculator{
    width:350px;
    background-color:dimgray;
    padding: 30px;
    border-radius:10px ;
}
.res{
    height: 40px;
    width:100%;
    border: 3px solid black;
    padding: 5px;
}
.buttons{
    text-align: center;
    padding: 30px;
}
.btn1{
    height:50px;
    width:50px;
    margin:4px;
    margin-top: 0px;
    background-color: black;
    color: aliceblue;
}
